* {
  box-sizing: border-box;
}

body {
  background-color: #333232;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: rgb(0, 0, 0);
  border: solid 6px black;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  animation: slide-in 1.4s;
}

@keyframes slide-in {
  from {
    opacity: 0;
    margin-right: 1000px;
  }

  to {
    opacity: 1;
    margin-right: 0px;
  }
}

.header {
  font-family: "Yellowtail", cursive;
  color: aliceblue;
  font-size: 30px;
  margin-bottom: 15px;
}

.gap {
  height: 20px;
  text-align: end;
  color: aliceblue;
  font-size: 20px;
  font-family: "Yellowtail", cursive;
}

.solar-button {
  height: 32px;
  font-size: 19px;
  color: rgb(231, 226, 205);
  width: 94px;
  margin-left: 35px;
  background-color: rgb(170, 152, 152);
}

.calc-screen {
  text-align: end;
  height: 50px;
  width: 315px;
  font-family: monospace;
  font-size: 40px;
  color: aliceblue;
  background-color: rgb(88, 84, 107);
  border-radius: 10px;
}

.row {
  display: flex;
  flex-direction: row;
}

.calc-button {
  font-family: "roboto", sans-serif;
  font-size: 25px;
  border: solid 1px #000000;
  border-radius: 5px;
  height: 80px;
  width: 80px;
  background-color: rgb(102, 102, 114);
  color: aliceblue;
}

.calc-button:hover {
  background-color: rgb(88, 88, 99);
  border: groove 1px #ffffff;
  box-shadow: 0px 0px 5px 1.5px rgb(255, 255, 255);
}

.calc-button:active {
  background-color: rgb(71, 71, 80);
}

.calc-button:last-child {
  background-color: #3700ff;
}

.calc-button:last-child:hover {
  background-color: #2a01e0;
}

.calc-button:last-child:active {
  background-color: #2100b6;
}

.zero {
  width: 240px;
}

.clear {
  background-color: rgb(131, 8, 8);
  width: 160px;
}

.clear:hover {
  background-color: rgb(99, 6, 6);
}

.clear:active {
  background-color: rgb(77, 5, 5);
}

a {
  color: aliceblue;
}

a:hover {
  color: rgb(107, 109, 238);
  cursor: grabbing;
  transition: 0.5s;
}

.footer {
  margin: 0;
  color: aliceblue;
  position: absolute;
  bottom: 0;
  text-align: center;
  font-family: "robto", sans-serif;
}
